// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-contact{
	max-width: 480px;
	margin: 0 auto;
	/* background-image: url("/system/localimage/bg/bg.jpg"); */
	background-color: floralwhite;
	padding: 20px;
	position: relative;
}
.back-contact{
	width: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	display:block;
}
.back-contact img{
	width: 20px;
}